<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Detalle</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <div th:replace="layouts/layout"></div>
    <div class="container mx-auto mt-8 p-4 bg-white shadow-md rounded-lg">

        <h1 class="text-2xl font-bold mb-4">Listado Usuarios</h1>

        <div class="flex justify-between mb-4">
            <a class="btn btn-primary mx-2 mt-2 mb-2 bg-blue-500 text-white px-4 py-2 rounded" th:href="@{/usuario/nuevo}">Nuevo</a>
            <a class="btn btn-primary mx-2 mx-3 bg-blue-500 text-white px-4 py-2 rounded" href="/">Inicio</a>
        </div>

        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b-2 border-gray-300 text-left leading-tight">ID</th>
                    <th class="py-2 px-4 border-b-2 border-gray-300 text-left leading-tight">Email</th>
                    <th class="py-2 px-4 border-b-2 border-gray-300 text-left leading-tight">Nombre</th>
                    <th class="py-2 px-4 border-b-2 border-gray-300 text-left leading-tight">Rol</th>
                    <th class="py-2 px-4 border-b-2 border-gray-300 text-left leading-tight">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuarios : ${usuarios}" class="hover:bg-gray-100">
                    <td class="py-2 px-4 border-b border-gray-300" th:text="${usuarios.id}"></td>
                    <td class="py-2 px-4 border-b border-gray-300" th:text="${usuarios.email}"></td>
                    <td class="py-2 px-4 border-b border-gray-300" th:text="${usuarios.nombre}"></td>
                    <td class="py-2 px-4 border-b border-gray-300" th:text="${usuarios.rolid.nombre}"></td>
                    <td class="py-2 px-4 border-b border-gray-300">
                        <a class="bg-blue-500 text-white px-4 py-2 rounded mr-2" th:href="@{/usuario/editar/{id}(id=${usuarios.id})}">Editar</a>
                        <a class="bg-red-500 text-white px-4 py-2 rounded" th:href="@{/usuario/eliminar/{id}(id=${usuarios.id})}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>