<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Tipo de Prenda</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="layouts/layout"></div>
    <h1 class="text-center mb-5 mt-3" th:text="${tipoPrendaVestir.id == null} ? 'Nuevo Tipo de Prenda' : 'Editar Tipo de Prenda'"></h1>

    <div class="d-flex justify-content-center align-items-center">
        <div class="border w-50 border-danger p-4">
            <form th:action="@{/tipos-prendas}" th:object="${tipoPrendaVestir}" method="post">
                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Nombre del Tipo de Prenda" required />
                </div>
                <button class="btn btn-primary" type="submit">Guardar</button>
            </form>
            <a class="btn btn-info mt-3" href="/tipos-prendas">Volver a la lista</a>
        </div>
    </div>
</body>
</html>
