<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Telas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>Listado de Telas</h1>
    <a th:href="@{/tela/nuevo}" class="btn btn-primary mb-3">Nueva Tela</a>
    <a th:href="@{/}" class="btn btn-secondary mb-3">Regresar </a>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Color</th>
            <th scope="col">Stock en yardas</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tela : ${telas}">
            <td th:text="${tela.id}"></td>
            <td th:text="${tela.nombre}"></td>
            <td th:text="${tela.color}"></td>
            <td th:text="${tela.stock}"></td>
            <td>
                <a th:href="@{/tela/editar/{id}(id=${tela.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/tela/eliminar/{id}(id=${tela.id})}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
